/* Fonts */
/* Fonts used in this template. Link below contains all fonts from standard layouts */
/* https://fonts.google.com/selection?category=Sans+Serif,Display&selection.family=Manjari:400,700|Montserrat:300,400,400i,700,700i,800,800i|Roboto:400,400i,500,500i,700,900 */
/* @font-face {
  font-family: 'Manjari';
  src: url('public/fonts/Manjari-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: 'Manjari Bold';
  src: url('public/fonts/Manjari-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* 
@font-face {
  font-family: 'Montserrat SemiBold';
  src: url('public/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */
/* 
@font-face {
  font-family: 'SourceCodePro';
  src: url('public/fonts/SourceCodePro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

/* Animations */
@-webkit-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

/* Code block styles */

pre, code {
  background-color: #efefef;
  line-height: 1.5em;
  font-size: 0.9em;
  padding: 1px 6px;
  border-radius: 3px;
  white-space: pre-wrap;
  overflow: hidden;
}

pre {
  padding: 10px;
  /* box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); */
  transition: box-shadow 0.3s ease-in-out;
  border: 1px solid #efefef;
}

pre:hover {
  box-shadow: 0 2px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  transition: box-shadow 0.3s ease-in-out;
  border: 1px solid #e7e7e7;
}
/*

Taken straight from Docco highlight styles, which uses the Github code styling.
github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

pre code {
  display: block; padding: 0.5em;
  color: #000;
}

pre .hljs-comment,
pre .hljs-template_comment,
pre .hljs-diff .hljs-header,
pre .hljs-javadoc {
  color: #408080;
  font-style: italic
}

pre .hljs-keyword,
pre .hljs-assignment,
pre .hljs-literal,
pre .hljs-css .hljs-rule .hljs-keyword,
pre .hljs-winutils,
pre .hljs-javascript .hljs-title,
pre .hljs-lisp .hljs-title,
pre .hljs-subst {
  color: #954121;
  /*font-weight: bold*/
}

pre .hljs-number,
pre .hljs-hexcolor {
  color: #40a070
}

pre .hljs-string,
pre .hljs-tag .hljs-value,
pre .hljs-phpdoc,
pre .hljs-tex .hljs-formula {
  color: #219161;
}

pre .hljs-title,
pre .hljs-id {
  color: #19469D;
}
pre .hljs-params {
  color: #00F;
}

pre .hljs-javascript .hljs-title,
pre .hljs-lisp .hljs-title,
pre .hljs-subst {
  font-weight: normal
}

pre .hljs-class .hljs-title,
pre .hljs-haskell .hljs-label,
pre .hljs-tex .hljs-command {
  color: #458;
  font-weight: bold
}

pre .hljs-tag,
pre .hljs-tag .hljs-title,
pre .hljs-rules .hljs-property,
pre .hljs-django .hljs-tag .hljs-keyword {
  color: #000080;
  font-weight: normal
}

pre .hljs-attribute,
pre .hljs-variable,
pre .hljs-instancevar,
pre .hljs-lisp .hljs-body {
  color: #008080
}

pre .hljs-regexp {
  color: #B68
}

pre .hljs-class {
  color: #458;
  font-weight: bold
}

pre .hljs-symbol,
pre .hljs-ruby .hljs-symbol .hljs-string,
pre .hljs-ruby .hljs-symbol .hljs-keyword,
pre .hljs-ruby .hljs-symbol .hljs-keymethods,
pre .hljs-lisp .hljs-keyword,
pre .hljs-tex .hljs-special,
pre .hljs-input_number {
  color: #990073
}

pre .hljs-builtin,
pre .hljs-constructor,
pre .hljs-built_in,
pre .hljs-lisp .hljs-title {
  color: #0086b3
}

pre .hljs-preprocessor,
pre .hljs-pi,
pre .hljs-doctype,
pre .hljs-shebang,
pre .hljs-cdata {
  color: #999;
  font-weight: bold
}

pre .hljs-deletion {
  background: #fdd
}

pre .hljs-addition {
  background: #dfd
}

pre .hljs-diff .hljs-change {
  background: #0086b3
}

pre .hljs-chunk {
  color: #aaa
}

pre .hljs-tex .hljs-formula {
  opacity: 0.5;
}

/* Base Style */
body {
  box-sizing: border-box;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: #343434;
  overflow: hidden;
}

article h1, article h2, article h3, article h4, article h5, article h6 {
  font-family: 'Roboto', sans-serif;
  /* text-transform: uppercase; */
  line-height: 1.2em;
}

article h1, article h2 {
  text-align: center;
}

article a {
  color: #2f6ec1;
  text-decoration: none;
  border-bottom: 2px solid #b8d0f9;
  display: inline-block;
  height: 16px;
}

article a:hover {
  cursor: pointer;
  border-bottom: 3px solid #b8d0f9;
}

article a:visited {
  color: #663399;
  border-bottom: 3px solid #d5b8ff;
}

article b, article strong {
  font-family: "Manjari Bold";
}

header {
  color: white;
}

ee-header {
  position: relative;
  --ee-toolbar-height: 64px;
  --ee-toolbar-font-size: 16px;
  height: 64px;
  display: flex;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.header div.topbar {
  position: relative;
  display: flex;
  width: 100%;
  height: 64px;
  color: #343434;
  background: white;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); 
}

.header div.topbar #logo,
ee-header #logo {
  height: 64px;
  min-width: 148px;
  width: 20%;
  background-image: url("images/TPE_logo_black.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 20px;
}

.header div.topbar div.links {
  margin-left: auto;
  margin-right: 10px;
  height: 64px;
  padding: 12px;
}

div.links a, div.links a:hover, div.links a:active {
  border: none;
  display: flex;
  height: unset;
  place-items: center;
}

div.links svg {
  height: 36px;
  fill: #343434;
}

nav.toc {
  min-width: max-content;
  margin-right: 2%; 
  max-height: 100%;
  overflow: auto;
  padding-right: 20px;
}

nav.toc ul, ol {
  padding-inline-start: 0;
}

nav.toc li {
  margin: 10px auto;
  list-style: none;

}

nav.toc li a, nav.toc li a:visited, nav.toc li a:active {
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
  border-bottom: none;
  color: #454545;
  height: 16px;
}

nav.toc li a.indented {
  margin-left: 20px;
  text-transform: unset;
}

nav.toc li a.current { 
  font-weight: bold;
  color: #454545;  
}

nav.toc li a:hover {
  border-bottom: 2px solid #b8d0f9;
}

nav.toc li a:active {
  border-width: 3px;
  height: 15px;
  outline: 1px dashed #cdcdcd;
}

/* Mobile First layout */

.page-title {
  display: none;
}

#menu-btn {
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  place-items: center;
  margin: auto 0;
  padding: 10px;
  white-space: nowrap;
  height: var(--nn-button-height, 30px);
  border-radius: 4px;
  border: none;
  border-color: transparent;
  text-transform: uppercase;
  font-size: 14px;
  border-image: none;
  align-items: center;
  background-color: transparent;
}

#menu-btn:hover, #menu-btn:active {
  outline: 1px solid #343434;
}

nav ul, ol {
  padding-inline-start: 0;
}

nav li,
ee-drawer li {
  margin: 10px auto;
  list-style: none;
}

.header-menu {
  display: none;
}

.side-menu {
  box-sizing: border-box;
  color: white;
  line-height: 2;
}

.side-menu li a, .side-menu li a:visited, .side-menu li a:active {
  text-transform: capitalize;
  cursor: pointer;
  border-bottom: none;
  color: whitesmoke;
  height: unset;
  text-decoration: none;
}

.side-menu li a.indented {
  margin-left: 20px;
  text-transform: unset;
}

.side-menu li a.current {
  font-weight: bolder;
  color:white;
  width: 100%;
  border-bottom: 2px solid whitesmoke;
}

.side-menu li a:hover {
  border-bottom: 2px solid #b8d0f9;
}

.side-menu li a:active {
  border-width: 3px;
  height: 15px;
  outline: 1px dashed #cdcdcd;
}

/* Content Styles */

section.content-page {
  width: 100%;
  max-height: calc(100vh - 64px);
  overflow: auto;
}

article {
  box-sizing: border-box;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 50px 15%;
}

/* Home Styles */

.home-hero {
  box-sizing: border-box;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  color: whitesmoke;
  background-color: #343434;
}

.home-hero > * {
  text-align: center;
}

.home-hero > h2 {
  font-size: 1.4em;
}

.home-hero > h4 {
  font-size: 1.0em;
}

.home-compare, .home-showcase {
  margin: 20px 0;
}

.home-section h1,
.home-section h2,
.home-section h3,
.home-section h4,
.home-section h5 {
  margin-block-start: 2em;
  margin-inline-start: 2em;
}


.home-section > div {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}

.home-section p {
  margin-inline-start: 4em;
  margin-inline-end: 4em;
  line-height: 1.5;
}

.home-compare h3, 
.home-compare h4 {
  margin-inline-start: 0;
  margin-block-start: 0;
  text-align: center;
}

blockquote {
  position: relative;
  box-sizing: border-box;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 2em;
  font-size: 1.15em;
  font-weight: bold;
  line-height: 1.8;
  text-align: justify;
  background-color: whitesmoke;
  color: #00695c;
}

blockquote::after {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 25%;
  width: 50%;
  border: 1px solid whitesmoke;
}

/* Dekstop Layout */

@media (min-width: 800px) {

  .header div.topbar #logo {
    margin-left: 30px;
  }

  .header div.topbar div.links {
    margin-left: 10px;
  }

  #menu-btn {
     display: none;
  }

  .side-menu {
    display: none;
  }

  .header-menu {
    display: inline;
    margin-left: auto;
    margin-right: 30px;
  }

  .header-menu ul {
    display: flex;
    margin-block-start: 0.8em;
    margin-block-end: 0.5em;
    justify-content: space-between;
  }

  .header-menu li {
    padding: 0 10px;
  }

  .header-menu li a, .header-menu li a:visited, .header-menu li a:active {
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    border-bottom: none;
    color: #454545;
  }

  .header-menu li a.indented {
    text-transform: unset;
  }

  .header-menu li a.current {
    font-weight: bold;
    color: #454545;
  }
  .header-menu li 
  .header-menu li a:hover {
    border-bottom: 2px solid #b8d0f9;
  }

  a:active {
    border-width: 3px;
    height: 15px;
    outline: 1px dashed #cdcdcd;
  }

  .page-title {
    display: inline-block;
  }

  main {
    display: flex;
    flex-direction: row;
    height: 100%
  }

  /* Home Styles */

  .home-hero {
    box-sizing: border-box;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .home-hero > h2 {
    font-size: 3.0em;
  }

  .home-hero > h4 {
    font-size: 2.0em;
    margin-block-start: 1em;
    margin-block-end: 1em;
  }

  .home-compare {
    display: flex;
  }

  blockquote {
    padding: 2em 3.5em;
  }

  blockquote::before, blockquote::after {
    left: 35%;
    width: 30%;
  }

}
